*{
    font-family: 'Nunito', sans-serif;
}

.container{
    margin-bottom: 50px;
}

.buy-now-button{
    background-color: black;
    color: white;
    border-radius: 8px;
    padding: 9px 10px;
    border: none;
    cursor: pointer;
}

.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 20px;
}

.card-body{
    text-align: center;
}

.card-title{
    font-weight: 700;
}


.categories-border {
    border-bottom: 10px solid  #FFBB24;
    border-radius: 5px;
    margin-bottom: 20px;
}  
